#logo {
  display: block;
  width: 80%;
  margin: 4em auto 2em auto;
}
#landing__buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  button {
    padding: 1em;
    min-width: 60%;
    max-width: 80%;
    margin: 2em;
    border-radius: 0.5em;
    background-color: #fff;
    border: 1px solid black;
  }
}
