@import "../../../_variables";
#landing {
  margin: auto;
}
#logo {
  display: block;
  width: 80%;
  margin: $margin auto;
}
#landing__buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: auto;
  button {
    padding: 1em;
    width: 60%;
    margin: $margin;
    border-radius: $border-radius;
    background-color: $light-bg;
    border: $border;
    transition: all 0.2s;
    &:hover {
      cursor: pointer;
      background-color: $accent-color;
      color: $light-color;
      font-weight: bold;
      border: 1px solid $accent-color;
    }
  }
}

@media #{$small-up} {
  #landing {
    width: 60%;
  }
}
@media #{$medium-up} {
  #landing__buttons {
    width: 80%;
    flex-direction: row;
    button {
      width: 40%;
    }
  }
}
