@import "../../../_variables";
header {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px -2px 4px black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  img {
    display: inline-block;
    padding: 1em;
    height: 100%;
    cursor: pointer;
  }

  & nav {
    display: none;
    & ul {
      display: flex;
      justify-content: space-around;
      height: 100%;
      align-items: center;
      font-size: 1.5em;
      & li {
        margin: 0 1em;
        cursor: pointer;
        &.active {
          color: $accent-color;
        }
      }
    }
  }

  .burger {
    display: block;
    width: 36px;
    height: 36px;
    margin: auto 2em auto 0;
    border-bottom: 2px solid black;
    transform: translateY(-18px);
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid black;
      transform: translateY(8px);
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid black;
      transform: translateY(-43px);
    }
  }
}

.sidebar {
  border: $border;
  background-color: $light-bg;
  width: 50vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  transform: translateX(50vw);
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  display: flex;
  flex-direction: column;

  & .links {
    justify-self: start;
    align-self: flex-end;
    margin: 75px 0.5em;
    flex-grow: 10;
    & li {
      margin: 1em 0;
      cursor: pointer;
      font-size: 2em;

      &.active {
        color: $accent-color;
      }
    }
  }
  & .user-image {
    cursor: pointer;
    justify-self: flex-end;
    align-self: flex-end;
    margin: 0.5em;
  }

  &.active {
    transform: translateX(0);

    & .overlay {
      &::before {
        display: block;
      }
    }
  }

  &__cross {
    &::after {
      cursor: pointer;
      position: absolute;
      top: 1em;
      right: 1em;
      transform: scale(2);
      content: "\00d7";
    }
  }

  & .overlay {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.6);
      transform: translateX(-100vw);
      z-index: 999;
      display: none;
    }
  }
}

@media #{$small-up} {
  header {
    nav {
      display: flex;
    }

    .burger {
      display: none;
    }
  }
  .sidebar {
    display: none;
  }
}
